.container {
    display: flex;
    gap: 1em;
    height: 100vh;
    width: 100vw;
}
.image-mapping{
    position: relative;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.image-mapping img {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.konvajs-content{
    /*background: orange;*/
}

.konvajs-content canvas {
    z-index: 1;
}

.mapping-table{
    width: 75%;
    padding-top: 1em;
}

.menu{
    display: none;
    position: absolute;
    width: 60px;
    background: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
    z-index: 3;
}

.menu button {
    width: 100%;
    background: white;
    border: none;
    margin: 0;
    padding: 10px;
}

.menu button:hover{
    background: lightgray;
}